font-face {
    font-family: 'CamptonBold';
    src: url('~@/assets/base/fonts/CamptonBold.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'CamptonBook';
    src: url('~@/assets/base/fonts/CamptonBook.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'CamptonBookItalic';
    src: url('~@/assets/base/fonts/CamptonBookItalic.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'CamptonLight';
    src: url('~@/assets/base/fonts/CamptonLight.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'CamptonMedium';
    src: url('~@/assets/base/fonts/CamptonMedium.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }