font-face {
    font-family: 'Campton';
    src: local('Campton'),
      url('~@/assets/base/fonts/Campton-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Campton';
    src: local('Campton'),
      url('~@/assets/base/fonts/Campton-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Campton';
    src: local('Campton'),
      url('~@/assets/base/fonts/Campton-BookItalic.otf') format('opentype');
      font-weight: 400;
      font-style: italic;
  }
  
  @font-face {
    font-family: 'Campton';
    src: local('Campton'),
      url('~@/assets/base/fonts/Campton-Light.otf') format('opentype');
      font-weight: 300;
      font-style: normal;
  }
  
  @font-face {
    font-family: 'Campton';
    src: local('Campton'),
      url('~@/assets/base/fonts/Campton-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }